llama-index
llama-index-embeddings-huggingface
nest-asyncio
llama-index-embeddings-fastembed
fastembed
llama-index-vector-stores-faiss
pandas
llama-index-llms-openrouter
llama-index-llms-nvidia
llama-index-embeddings-huggingface
llama-index-vector-stores-postgres
psycopg2-binary
python-docx
openpyxl
markdown
fastapi
uvicorn
python-dotenv
pydantic
python-multipart
sqlalchemy
pgvector
openai
requests
plotly
scikit-learn
numpy
torch
transformers
beautifulsoup4
lxml
rapidfuzz
