:root {
    --color-primary: #078879;
    --color-primary-dark: #056d62;
    --color-primary-light: #e5f6f2;

    --color-blue: #139fc1;

    --color-text: #172433;
    --color-text-muted: #788391;

    --color-background: #f7faf9;
    --color-surface: #ffffff;

    --border-color: #e5ecea;

    --radius-sm: 8px;
    --radius-md: 14px;
    --radius-lg: 20px;

    --sidebar-width: 320px;

    --default-green: #156026;
}
