:root {
    --color-primary: #e7efe8;
    --color-primary-dark: #156026;
    --color-primary-light: #f8fff9;

    --color-text: #202120;
    --color-text-muted: #788391;
    --color-text-red: #c94a4a;

    --border-color: #e5ecea;
    --border-color-green: #a3cba6;

    --button-color: #348137;
}
